<div class="hero bg-base-200 min-h-[80vh]">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      {{#if user}}
      <h1 class="text-4xl font-bold text-gray-900">Welcome {{user.username}}</h1>
      {{else}}
      <h1 class="text-4xl font-bold text-gray-900">Welcome</h1>
      {{/if}}
      <p class="py-4 text-gray-700 max-w-lg mx-auto">
Kesatria Academy merupakan program edukasi dalam bidang IT Development dan Artificial Intelligence. Kami menyelenggarakan berbagai event course dan bootcamp khususnya dibidang pemrograman yang dibutuhkan untuk memasuki dunia kerja.
      </p>
      {{#if user}}
      <a href="#kelas-section" class="btn bg-gray-900 text-white rounded-lg hover:bg-gray-700">
        Lets Study
      </a>
      {{else}}
      <a href="/login" class="btn bg-gray-900 text-white rounded-lg hover:bg-gray-700">
        Lets Study
      </a>
      {{/if}}
    </div>
  </div>
</div>

<div class="flex justify-center gap-6 -mt-10 mb-20">
  <!-- Icon 1 -->
  <div class="flex flex-col items-center bg-white shadow-md rounded-xl p-4 hover:scale-105 transform transition-all">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML" class="h-12 w-12 object-contain" />
  </div>

  <!-- Icon 2 -->
  <div class="flex flex-col items-center bg-white shadow-md rounded-xl p-4 hover:scale-105 transform transition-all">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" class="h-12 w-12 object-contain" />
  </div>

  <!-- Icon 3 -->
  <div class="flex flex-col items-center bg-white shadow-md rounded-xl p-4 hover:scale-105 transform transition-all">
    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node.js" class="h-12 w-12 object-contain" />
  </div>
</div>



<div class="flex justify-center py-6" id="kelas-section">
  <label class="input input-bordered flex items-center gap-2 w-full max-w-md rounded-xl shadow">
    <input type="text" class="grow focus:outline-none" placeholder="Cari kelas..." />
    <button class="btn bg-gray-900 btn-sm text-white rounded-lg hover:bg-gray-700">
      Search
    </button>
  </label>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-8 justify-items-center scroll-smooth">
  {{#each kelas}}
  <div class="card bg-base-100 w-80 shadow-md hover:shadow-xl transition-all rounded-xl">
    <figure class="px-8 pt-8">
      <img src="/uploads/images/{{gambar}}" alt="Shoes" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-gray-900">{{nama_kelas}}</h2>
      <p class="text-gray-700">{{deskripsi}}</p>
      <div class="card-actions">
        <a href="/kelass/{{id}}" class="btn bg-gray-900 text-white rounded-lg hover:bg-gray-700">View details</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
