<div class="hero bg-base-200 min-h-[70vh]">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      {{#if user}}
      <h1 class="text-4xl font-bold text-gray-900">Welcome {{user.username}}</h1>
      {{else}}
      <h1 class="text-4xl font-bold text-gray-900">Welcome</h1>
      {{/if}}
      <p class="py-4 text-gray-700 max-w-lg mx-auto">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn bg-gray-900 text-white rounded-lg hover:bg-gray-700">
        Get Started
      </button>
    </div>
  </div>
</div>

<div class="flex justify-center py-6">
  <label class="input input-bordered flex items-center gap-2 w-full max-w-md rounded-xl shadow">
    <input type="text" class="grow focus:outline-none" placeholder="Cari kelas..." />
    <button class="btn bg-gray-900 btn-sm text-white rounded-lg hover:bg-gray-700">
      Search
    </button>
  </label>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-8 justify-items-center">

{{#each kelas}}
  <div class="card bg-base-100 w-80 shadow-md hover:shadow-xl transition-all rounded-xl">
    <figure class="px-8 pt-8">
      <img src="/uploads/images/{{gambar}}"
        alt="Shoes" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title text-gray-900">{{nama_kelas}}</h2>
      <p class="text-gray-700">{{deskripsi}}</p>
      <div class="card-actions">
        <button class="btn bg-gray-900 text-white rounded-lg hover:bg-gray-700">Daftar sekarang</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
