<div class="w-full shadow-lg fixed top-0 left-0 right-0 z-50 bg-gray-900 text-white dark-mode:text-gray-200 dark-mode:bg-gray-800">
  <div 
    x-data="{
      open: false,
      active: localStorage.getItem('activeLink') || '/dashboard',
      setActive(path) {
        this.active = path
        localStorage.setItem('activeLink', path)
      }
    }" 
    class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
  >
    <!-- Logo & Toggle -->
    <div class="flex flex-row items-center justify-between p-4">
      <img src="/public/image/logo_kotak_putih.png" alt="Logo" class="h-8 w-auto tracking-widest uppercase rounded-lg focus:outline-none focus:shadow-outline">
      <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path x-show="!open" fill-rule="evenodd" d="M3 5h14M3 10h14M9 15h6" clip-rule="evenodd"></path>
          <path x-show="open" fill-rule="evenodd" d="M4 4l12 12M16 4L4 16" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <!-- Navbar -->
    <nav 
      :class="{'flex': open, 'hidden': !open}" 
      class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row"
    >
      {{#if (roles user.role "user")}}
        <a 
          href="/dashboard"
          @click="setActive('/dashboard')"
          :class="active === '/dashboard' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-white hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0"
        >Home</a>

        <a 
          href="/kelass/kelas_saya/{{user.id}}"
          @click="setActive('/kelass/kelas_saya/{{user.id}}')"
          :class="active === '/kelass/kelas_saya/{{user.id}}' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-white hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4"
        >My Course</a>

        <a 
          href="/logbook"
          @click="setActive('/logbook')"
          :class="active === '/logbook' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-white hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4"
        >Log Book</a>

        <!-- Dropdown User -->
        <div @click.away="open = false" class="relative" x-data="{ open: false }">
          <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-gray-200">
            <span>{{user.username}}</span>
            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 ml-1 transition-transform transform">
              <path fill-rule="evenodd" d="M5 7l5 5 5-5" clip-rule="evenodd"></path>
            </svg>
          </button>
          <div x-show="open" class="absolute right-0 w-48 mt-2 rounded-md shadow-lg z-30">
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a href="/pembayarans/riwayat/{{user.id}}" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 hover:bg-gray-200 rounded-lg">Riwayat Pembayaran</a>
              <a href="/users/profile" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 hover:bg-gray-200 rounded-lg">Profile</a>
              <a href="/logout" class="block px-4 py-2 mt-2 text-sm font-semibold text-red-400 hover:bg-gray-200 rounded-lg">Log out</a>
            </div>
          </div>
        </div>  

      {{else if (roles user.role "super_admin")}}
        <a 
          href="/users"
          @click="setActive('/users')"
          :class="active === '/users' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-white hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0"
        >Users</a>

        <a 
          href="/kelass"
          @click="setActive('/kelass')"
          :class="active === '/kelass' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-white hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4"
        >Class</a>

        <a 
          href="/pembayarans"
          @click="setActive('/pembayarans')"
          :class="active === '/pembayarans' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-white hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4"
        >Payment</a>

        <!-- Dropdown Super Admin -->
        <div @click.away="open = false" class="relative" x-data="{ open: false }">
          <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-gray-200">
            <span>{{user.username}}</span>
            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 ml-1 transition-transform transform">
              <path fill-rule="evenodd" d="M5 7l5 5 5-5" clip-rule="evenodd"></path>
            </svg>
          </button>
          <div x-show="open" class="absolute right-0 w-48 mt-2 rounded-md shadow-lg z-30">
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a href="/users/profile" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 hover:bg-gray-200 rounded-lg">Profile</a>
              <a href="/logout" class="block px-4 py-2 mt-2 text-sm font-semibold text-red-400 hover:bg-gray-200 rounded-lg">Log out</a>
            </div>
          </div>
        </div>  

      {{else if (roles user.role "admin")}}
        <a 
          href="/kelass"
          @click="setActive('/kelass')"
          :class="active === '/kelass' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-gray-200 hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0"
        >Class</a>

        <a 
          href="/logbook"
          @click="setActive('/logbook')"
          :class="active === '/logbook' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-white hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4"
        >Log Book</a>

        <a 
          href="/portofolios"
          @click="setActive('/portofolios')"
          :class="active === '/portofolios' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-gray-200 hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4"
        >Portofolio</a>

        <!-- Dropdown Admin -->
        <div @click.away="open = false" class="relative" x-data="{ open: false }">
          <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-gray-200">
            <span>{{user.username}}</span>
            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 ml-1 transition-transform transform">
              <path fill-rule="evenodd" d="M5 7l5 5 5-5" clip-rule="evenodd"></path>
            </svg>
          </button>
          <div x-show="open" class="absolute right-0 w-48 mt-2 rounded-md shadow-lg z-30">
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a href="/users/profile" class="block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 hover:bg-gray-200 rounded-lg">Profile</a>
              <a href="/logout" class="block px-4 py-2 mt-2 text-sm font-semibold text-red-400 hover:bg-gray-200 rounded-lg">Log out</a>
            </div>
          </div>
        </div>  

      {{else}}
        <a 
          href="/dashboard"
          @click="setActive('/dashboard')"
          :class="active === '/dashboard' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-gray-200 hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0"
        >Home</a>

        <a 
          href="/login"
          @click="setActive('/login')"
          :class="active === '/login' 
            ? 'bg-white text-gray-900' 
            : 'bg-transparent text-gray-200 hover:bg-gray-200 hover:text-gray-900'"
          class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4"
        >Login</a>
      {{/if}}
    </nav>
  </div>
</div>
