<div class="max-w-5xl mx-auto px-6 py-10">
  <div class="mb-8">
    <img src="/uploads/images/{{kelas.gambar}}" alt="Web Dev" class="w-full h-64 object-cover rounded shadow mb-4" />
    <h1 class="text-3xl font-bold mb-2">{{kelas.nama_kelas}}</h1>
    <p class="text-gray-700 mb-4">{{kelas.deskripsi}}</p>
  </div>

  <div class="mb-10">
    <h2 class="text-2xl font-semibold mb-4">Materi Kelas</h2>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
      <a href="/materis/pdf/{{kelas.id}}" class="bg-gray-900 text-white shadow-lg rounded-xl p-6 flex flex-col items-center text-center transition transform hover:shadow-xl hover:bg-gray-500 ">
        <span class="text-lg font-medium">Materi PDF</span>
      </a>
      <a href="/materis/video/{{kelas.id}}" class="bg-gray-900 text-white shadow-lg rounded-xl p-6 flex flex-col items-center text-center transition transform hover:shadow-xl hover:bg-gray-500 ">
        <span class="text-lg font-medium">Materi Video</span>
      </a>
      <a href="/materis/ppt/{{kelas.id}}" class="bg-gray-900 text-white shadow-lg rounded-xl p-6 flex flex-col items-center text-center transition transform hover:shadow-xl hover:bg-gray-500 ">
        <span class="text-lg font-medium">Materi PPT</span>
      </a>
    </div>
  </div>

  <div class="mb-10">
    <h2 class="text-2xl font-semibold mb-4">Pertemuan</h2>

    {{#if pertemuan.length}}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      {{#each pertemuan}}
        {{#if absen.length}}
          {{#each absen}}
            {{#isSameUser user.id ../../user.id}}
              <div class="bg-gray-200 shadow-lg rounded-xl p-6 flex flex-col justify-between transition transform">
                <div class="mb-4">
                  <h3 class="text-lg font-semibold mb-1">Pertemuan {{../pertemuan_ke}}</h3>
                  <p class="text-sm mb-1">{{../topik}}</p>
                  <p class="text-xs  ">{{formatTanggal ../tanggal}}</p>
                </div>
                <p class="text-green-700 text-sm cursor-default">
                  Sudah Absen
                </p>
              </div>
            {{else}}
              <a href="/absens/form/{{id}}" class="bg-gray-900 text-white shadow-lg rounded-xl p-6 flex flex-col justify-between transition transform hover:shadow-xl hover:bg-gray-500">
                <div class="mb-4">
                  <h3 class="text-lg font-semibold mb-1">Pertemuan {{../pertemuan_ke}}</h3>
                  <p class="text-sm mb-1">{{../topik}}</p>
                  <p class="text-xs ">{{formatTanggal ../tanggal}}</p>
                </div>
                <p class="text-red-700 text-sm cursor-default">
                  Belum Absen
                </p>
              </a>
            {{/isSameUser}}
          {{/each}}
        {{else}}
          <a href="/absens/form/{{id}}" class="bg-gray-900 text-white shadow-lg rounded-xl p-6 flex flex-col justify-between transition transform hover:shadow-xl hover:bg-gray-500">
            <div class="mb-4">
              <h3 class="text-lg font-semibold mb-1">Pertemuan {{pertemuan_ke}}</h3>
              <p class="text-sm mb-1">{{topik}}</p>
              <p class="text-xs ">{{formatTanggal tanggal}}</p>
            </div>
            <p class="text-red-700 text-sm cursor-default">
              Belum Absen
            </p>
          </a>
        {{/if}}
      {{/each}}
    </div>
    {{else}}
    <p class="text-gray-600 italic">Belum ada pertemuan yang tersedia.</p>
    {{/if}}
  </div>
</div>